<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Taller 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/description/main.css" />

</head>

<body>
    <header class="global">
        <!--navegacion global-->


        <a href="#">
            <h2>Maquillaje</h2>
        </a>
        <a href="#">
            <h2>Accesorios</h2>
        </a>



        <img class="global__logo" src="/store/Insumos/Chanel_logo.png" alt=" ">



        <a href="#">
            <h2>Colecciones</h2>
        </a>
        <a href="#">
            <h2>Promociones</h2>
        </a>

    </header>
    <!--Sub navegacion global-->
    <div class="global__subcategory">
        <img src="/store/Insumos/carrito.png" alt=" ">

    </div>

    <!--carrito de compras-->

    <section class="buying">
        <h2>Carrito</h2><h3>de compras</h3>
        <article class="buying__left">
            <img src="/description/Insumos/les-4-ombres-sombras-de-ojos-efectos-multiples-304-mystere-et-intensite-2g.3145891643046.jpg" alt=" ">
            <h3>{{nombre1}}</h3>
            <h3>{{nombre 2}}</h3>
            <p>{{descripcion}}</p>
            <h3>{{precio}}</h3>
        </article>
        <article class="buying__right">
        <h2>Resumen</h2>
        <h4>Pedido No. 3487CJ3</h4>
        <div class="left">
            <h4>Producto</h4>
            <h4>IVA</h4>
            <h4>Envío</h4>
            <h4>Cupón</h4>
            <h3>TOTAL COMPRA</h3>
        </div>
        
        </article>
    </section>

    <!--Footer-->

    <footer class="final">

        <article class="final__left">
            <h5>Servicios en línea</h5>
            <ul>
                <a href="#">Envíos</a>
                <br>
                <a href="#">Contáctanos</a>
                <br>
                <a href="#">Términos y condiciones</a>
                <br>
                <a href="#">Políticas de privacidad</a>
            </ul>
        </article>

        <!--Footer-->
        <article class="final__center">
            <h5>Descubre</h5>
            <ul>
                <a href="#">Lo más nuevo</a>
                <br>
                <a href="#">Promociones</a>
                <br>
                <a href="#">Eventos</a>
                <br>
                <a href="#">Servicios</a>
                <br>
                <a href="#">Tienda</a>

            </ul>
        </article>

        <article class="final__right">
            <h5>Redes sociales</h5>
            <img src="Insumos/redes.png">
            <p>©2018, Chanel Cosmetics</p>
        </article>



        <script src="main.js"></script>
</body>

</html>