<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chanel Web page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/home/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    
</head>

<body>
    <header class="global">
        <!--navegacion global-->


        <a href="#">
            <h2>Maquillaje</h2>
        </a>
        <a href="#">
            <h2>Accesorios</h2>
        </a>



        <img class="global__logo" src="/home/Insumos/Chanel_logo.png" alt=" ">



        <a href="#">
            <h2>Colecciones</h2>
        </a>
        <a href="#">
            <h2>Promociones</h2>
        </a>


    </header>

    <section class="banner">

        <h1>¿Por qué elegir
            <br> <a>Chanel?</a></h1>

        <div class="banner__button">

            <button>Descúbrelo...</button>
        </div>

    </section>

    <section class="collection">

        
        <div class="collection__left">
            <h2>Prueba nuestra<br>Nueva<br><span>colección</span></h2>
            <p>De la colección Hello Flawless, llegan los nuevos esmaltes con base gel.
                <br> Cada uno para cada situación</p>
            <div class="collection__button">
                <button>
                    <h3><a href="/store">Descúbrelos aquí</a></h3>
                </button>
            </div>
        </div>

        <div class="collection__right">

            <img src="/home/Insumos/image_promo.png" alt=" ">

        </div>

    </section>

    <!--Esmaltes Try-on-->

    <section class="interaction">

        <article class="interaction__left">

            <h2><span>Esmaltes Try-On</span></h2>
            <h2>Escoge tu<br> esmalte ideal</h2>
            <div class="interaction__balls">

                <div class="ball orange"></div>
                <div class="ball violet"></div>
                <div class="ball blue"></div>
                <div class="ball purple"></div>
                <div class="ball yellow"></div>
                <div class="ball red"></div>
                <div class="ball pink"></div>
                <div class="ball brown"></div>
                <div class="ball gray"></div>
                <div class="ball lightBrown"></div>
            </div>

        </article>

        <article class="interaction__right">

        </article>
    </section>


    <!--Características-->

    <section class="titleCharacteristics">

        <h1>Características</h1>

    </section>

    <section class="characteristics">

        <article class="characteristics__first">
            <img src="/home/Insumos/nails.png">
            <p>No necesitas repintar.
                <br>Con
                <strong> una aplicación es suficiente</strong>
            </p>
        </article>

        <article class="characteristics__second">
            <img src="/home/Insumos/leaves.png">
            <p>Son
                <strong>hidratantes</strong> y dejan
                <br>sensación de frescura</p>
        </article>

        <article class="characteristics__third">
            <img src="/home/Insumos/clock.png">
            <p>Su
                <strong>brillo gel</strong> hace que te dure
                <br> por mucho más tiempo</p>
        </article>

    </section>

    <!--Tabla de especificaciones-->

    <section class="titleTable">

        <h2><span>Sabes que hace a nuestros esmaltes</span></h2>
        <h1>tan resistentes</h1>

    </section>

    <section class="table">

        
        <article class="table__left">
            <h3>Laqueador</h3>
            <p>Para su resistencia y brillo</p>

            <h3>Filtros UV</h3>
            <p>Evitan que el esmalte se decolore por efectos de la luz solar</p>

            

        </article>

        <img src="/home/Insumos/nailpolish.png">
        
        <article class="table__right">

            <h3>Plastificante</h3>
            <p>Para la elasticidad y resistencia</p>

            <h3>Arcilla</h3>
            <p>Mantiene la mezcla de todos los ingredientes</p>
        </article>

    </section>

    <!--Galería-->

    <section class="titleGallery">

        <h1>Galería</h1>

    </section>
    <section class="galery">

        <article class="galery__photos">

            <img src="/home/Insumos/photoOne.png" alt=" ">
            <img src="/home/Insumos/photoTwo.png" alt=" ">
            <img src="/home/Insumos/photoThree.png" alt=" ">


        </article>

    </section>

    <!--Newsletter-->

    <section class="newsletter">

        <article class="newsletter__top">
            <h1>¡No te pierdas de nada!</h1>
            <p>Suscríbete a nuestro newsletter y sé uno de los primeros en descubrir acerca de nuestros
                <br> nuevos productos, lanzamientos y promociones. Además, recibe
                <br>
                <h2><span>10% de descuento</span></h2>
                <br> en tu primera compra</p>
        </article>

        <article class="newsletter__bottom">

            <div class="newsletter__send">

            <input type="text" placeholder="Escribe tu correo electrónico">
            <button>
                <h3>Enviar</h3>
            </button>
        </div>
            
                <p>Acepto los
                    <a>términos y condiciones</a>
                </p>
            

        </article>
    </section>

    <!--Footer-->

    <footer class="final">

        <article class="final__left">
            <h5>Servicios en línea</h5>
            <ul>
                <a href="#">Envíos</a>
                <br>
                <a href="#">Contáctanos</a>
                <br>
                <a href="#">Términos y condiciones</a>
                <br>
                <a href="#">Políticas de privacidad</a>
            </ul>
        </article>

        <article class="final__center">
            <h5>Descubre</h5>
            <ul>
                <a href="#">Lo más nuevo</a>
                <br>
                <a href="#">Promociones</a>
                <br>
                <a href="#">Eventos</a>
                <br>
                <a href="#">Servicios</a>
                <br>
                <a href="#">Tienda</a>

            </ul>
        </article>

        <article class="final__right">
            <h5>Redes sociales</h5>
            <img src="/home/Insumos/redes.png">
        <p>©2018, Chanel Cosmetics</p>
        </article>

        <script src="/home/main.js"></script>

</body>


</html>